body{
  background-image: url("picture/note.png");
  background-size:cover;
  overflow-x:hidden;
}

.topic{
  background-image: url("picture/topic.png");
  background-repeat: no-repeat;
  background-size:195px 80px;
  position:relative;
  left:20%;
  top:20;
}
.main{
  position:relative;
  font-size:20px;
  top:8;
  left:52;
  color:orange;
  font-family: 'Mali', cursive;

}
.right-top{
  position:absolute;
  right:30%;
}
.key-features{
  position:relative;
  right:30px;
}
.feedback{
  position:relative;
  right:-30px;
}
.iphone{
  position:absolute;
  left:60%;
  top:180px;
}
.rat{
  position:absolute;
  left:15%;
  top:20px;
}
.first-text{
  position:relative;
  left:25%;
  top:100;
  font-size:20px;
  font-family: 'Mali', cursive;
}
.background2{
  position:absolute;
  top:100%;
  width:120%;
  left:-8%;
  height:170%;
}

