body{
  background-image: url("picture/note.png");
  background-size:cover;
  overflow-x:hidden;
}

.topic{
  background-image: url("picture/topic.png");
  background-repeat: no-repeat;
  background-size:195px 80px;
  position:relative;
  left:20%;
  top:20;
}
.main{
  position:relative;
  font-size:20px;
  left:52;
  color:orange;
  font-family: 'Mali', cursive;
}
.right-top{
  position:absolute;
  right:30%;
  top:0%;
  color:orange;
  font-family: 'Mali',cursive;
  font-weight:800;
}
#key-features{
  position:relative;
  right:108px;
  top:33;
  cursor:pointer;
}
#feedback{
  position:relative;
  right:-80px;
  top:-33;
  cursor:pointer;
}
#members{
  cursor:pointer;
}
.iphone{
  position:absolute;
  left:60%;
  top:180px;
}
.iphone4{
  content:url("picture/iphone.png");
  width:600;
  height:600;
  position:relative;
  right:20%;
}
.rat{
  content:url("picture/rat.PNG");
  position:relative;
  left:11%;
  top:-491;
  width:220;
  height:396;
}
.first-text{
  position:relative;
  left:25%;
  top:180;
  font-size:20px;
  font-family: 'Mali', cursive;
}
.first-text h1{
  font-family: 'Mali', cursive;
}
.background2{
  position:absolute;
  top:100%;
  width:180%;
  left:-35%;
  height:170%;
}
.second-text{
  position:relative;
  left:45%;
  top:1100;
  font-family: 'Mali', cursive;
  font-size:20;
  color:purple;
}
.second-text h1{
  font-family: 'Mali', cursive;
  color:#3b175d;
}
.second-text h2{
  font-family: 'Mali', cursive;
  opacity: 0.7;
  position:relative;
  top: -10;
  color:#570757;
  font-weight:100;
}
.right-beside{
  position:fixed;
  right:50px;
  z-index:10;
  top:280px;
}
#circle-one{
  content:url("picture/black-side.png");
  width:10px;
  cursor:pointer;
}
#circle-two{
  content:url("picture/black-side.png");
  position:relative;
  top:15;
  width:10px;
  cursor:pointer;
}
#circle-three{
  content:url("picture/black-side.png");
  position:relative;
  top:30;
  width:10px;
  cursor:pointer;
}
#circle-four{
  content:url("picture/black-side.png");
  position:relative;
  top:45;
  width:10px;
  cursor:pointer;
}
.background3{
  position:absolute;
  z-index:1;
  top:210%;
  width:180%;
  left:-35%;
  height:170%;
}
.title3{
  position:absolute;
  top:1930;
  left:42%;
  z-index:3;
  font-size:50px;
  font-family: 'Mali', cursive;
  color:#3b175d;
}
.people{
  position:absolute;
  top:2050;
  left:42%;
}

.neko{
  content:url("picture/neko.png");
  position:relative;
  z-index:2;
  width:250;
  right:70%;
  cursor:pointer;
  }
.master{
  content:url("picture/master.png");
  position:relative;
  z-index:2;
  width:250;
  right:64.5%;
  cursor:pointer;
}
.jarvis{
  content:url("picture/jarvis.png");
  position:relative;
  z-index:2;
  width:250;
  right:59%;
  cursor:pointer;
}
.genius{
  content:url("picture/genius.png");
  position:relative;
  z-index:2;
  width:250;
  left:32.5%;
  top:-406.5;
  cursor:pointer;
}
.parson{
  content:url("picture/parson.png");
  position:relative;
  z-index:2;
  width:250;
  top:-406.5;
  left:38%;
  cursor:pointer;
}
.last-background{
  content:url("picture/note.png");
  position:absolute;
  widtj:100%;
  top:3000;
}
.title4{
  position:absolute;
  top:2850px;
  left:43%;
  color:#3b175d;
  font-size:40px;
  font-family: 'Mali',cursive;
}
#feedback-button{
  position:absolute;
  top:2930px;
  left:43.5%;
}
