body{
  background-image: url("picture/dark green.png");
  background-repeat: no-repeat;
  background-size:cover;
}

.topic{
  background-image: url("picture/topic.png");
  background-repeat: no-repeat;
  background-size:195px 80px;
  position:relative;
  left:20%;
  top:-40;
}
a{
  position:relative;
  font-size:20px;
  left:52;
  color:orange;
  font-family: 'Mali', cursive;

}
.iphone{
  position:absolute;
  left:60%;
  top:180px;
}
.first-text{
  position:relative;
  left:25%;
  top:100;
  font-size:20px;
  font-family: 'Mali', cursive;
}
#app1{
  position:relative;
  left:-50px;
}
#play1{
  position:relative;
  left:-50px;
}

